body{
    padding: 0;
    margin: 0;
    background-color: #264653;
    color: white;
    font-family: 'Libre Franklin'
}

header{
    font-size: 2rem;
    padding: 1rem;
    background-color: #2a9d8f;
    margin: 0;
    box-shadow: 0px 5px 5px rgb(42, 41, 41);
    display: flex;
    justify-content: space-between;
}

header img{
    width: 4rem;
    vertical-align: middle;
}

h1{
    margin: 0;
}

#open-button {
    cursor: pointer;
    background-color: #e76f51;
    padding: 1rem;
    border-radius: 5rem;
    font-size: 1.5rem;
    box-shadow: 0px 3px 3px rgb(42, 41, 41);
    vertical-align: middle;
}

#open-button svg{
    width: 2.5rem;
    vertical-align: middle;
    fill: white;
}

/* POPUP WINDOW */
.popup-div{
    margin: 0;
    padding: 0;
    border: 5px solid #2a9d8f;
    width: 25rem;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-30%, -40%);
    border-radius: 30px;
}

.dialog-heading{
    padding: 1rem;
    background-color: #264653;
    color: white;
    grid-column: span 2;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
form > label {
    padding-top: 1rem;
    padding-left: 2rem;
}
form > input {
    margin: .5rem;
    height: 1.5rem;
    width: 300px;
    align-self: center;
}


.form-buttons {
    padding: 1rem;
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-around;
}
button {
    cursor: pointer;
    background-color: #e76f51;
    border-radius: 30px;
    color: white;
    padding: 1rem;
    border: none;
    box-shadow: 5px 5px 5px rgb(204, 204, 204);
}


/* MAIN BODY */

main{
    display: grid;
}

.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    margin: 2rem;
}
.new-book-container{
    justify-self: center;
    align-self: center;
    padding: 2rem;
}

.book-card{
    background-color: white;
    color: black;
    box-shadow: 5px 5px 5px rgb(42, 41, 41);
    display: grid;
    grid-template-rows: auto 1fr 1fr;
}

.book-card h2 {
    margin: 0;
    padding: 0;
    background-color: #e5b846;
    padding: 1rem;
    text-align: center;
    color: white;
    font-size: 1.2rem;
}

.book-card h4 {
    font-weight: 500;
    margin: 0;
    padding: .5rem;
    color: rgb(89, 89, 89);
}

.numOfPages{
    font-size: .8rem;
}

.book-read-container {
    padding: 1rem;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin: 0;
    color: white;
    align-self: flex-end;
    display: flex;
}

.read-label {
    padding-right: 1rem;
}

.card-action-container {
    background-color: #e76f51;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    display: flex;
}

.trash {
    width: 2rem;
    padding-right: 1rem;
}